#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  font-family: 'Victor Mono', monospace;
  font-weight: 900;
  font-size: large;
  text-align: center;
  /* display: grid;
  place-items: center; */
}

.header {
  color: #fc3f3f;
  padding: 1em;
  /* max-width: max-content; */
  background: rgb(255, 255, 255);
  box-shadow:  rgba(71, 70, 70, 0.75) 1px 1px 6px 1px;
  border-radius: 0 .5em 0 .5em;
}
